<div class="modal fade" ng-controller="dialogImport">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Import</h5>
				<button type="button" class="close cursor-hand" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Format</label>
					<select class="form-control" style="font-size:1em;height:100%" ng-model="form.format">
						<option value="" style="display:none" disabled selected></option>
						<option value="android">Android</option>
						<option value="ios">iOS</option>
						<option value="json">JSON</option>
						<option value="yaml">YAML</option>
					</select>
				</div>
				<div class="input-group">
					<button type="button" class="btn btn-primary input-group-addon" style="color:white" ng-click="onBrowse()">
						<i class="fa fa-upload"></i>
						Browse
					</button>
					<input class="form-control" style="background-color:white" type="text" disabled ng-model="form.fileName">
					<input type="file" id="input-browse" hidden onchange="angular.element(this).scope().onFileSelected(this)">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					<i class="fa fa-ban"></i>
					Cancel
				</button>
				<button type="button" class="btn btn-primary" ng-disabled="!form.format" ng-click="onImport(form)">
					<i class="fa fa-check"></i>
					Import
				</button>
			</div>
		</div>
	</div>
</div>