<div class="modal fade" ng-controller="dialogImport">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Import</h5>
				<button type="button" class="close cursor-hand" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Language</label>
					<select class="form-control" style="font-size:1em;height:100%" ng-disabled="loading" ng-model="form.language">
						<option value="" style="display:none" disabled selected></option>
						<option ng-repeat="language in languages" value="{{language.code}}">{{language.fullName}}</option>
					</select>
				</div>
				<div class="form-group">
					<label>Format</label>
					<select class="form-control" style="font-size:1em;height:100%" ng-disabled="loading" ng-model="form.format">
						<option value="" style="display:none" disabled selected></option>
						<option value="android">Android (.xml)</option>
						<option value="ios">iOS (.strings)</option>
						<option value="json">Plain JSON (.json)</option>
						<option value="yaml">YAML (.yml)</option>
					</select>
				</div>
				<div class="form-group">
					<label>File</label>
					<div class="input-group">
						<button type="button" class="btn btn-primary input-group-addon" ng-disabled="loading" style="color:white" ng-click="onBrowse($event.target)">
							<i class="fa fa-upload"></i>
							Browse
						</button>
						<input class="form-control noselect" style="background-color:white;color:#888888" type="text" readonly disabled ng-model="form.fileName">
						<input type="file" id="input-browse" hidden onchange="angular.element(this).scope().onFileSelected(this)">
					</div>
				</div>
				<label class="custom-control custom-checkbox" style="margin-top:0.5em">
					<input type="checkbox" checked="true" ng-disabled="loading" ng-model="form.replace" class="custom-control-input">
					<span class="custom-control-indicator"></span>
					<span class="custom-control-description noselect">Replace existing values</span>
				</label>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" ng-disabled="loading" data-dismiss="modal">
					<i class="fa fa-ban"></i>
					Cancel
				</button>
				<button type="button" class="btn btn-success" ng-disabled="loading || !form.language || !form.format || !form.fileName" ng-click="onImport(form)">
					<i ng-show="!loading" class="fa fa-check"></i>
					<i ng-show="loading" class="fa fa-circle-o-notch fa-spin"></i>
					Import
				</button>
			</div>
		</div>
	</div>
</div>