<div id="dialog-delete-translation" class="modal fade" ng-controller="translationsDialogDeleteTranslationCtrl">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				Do you want to delete <b ng-bind="form.key"></b>?
				<input type="hidden" ng-model="form.id" value="">
			</div>
			<div class="modal-footer no-modal-separator">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">
					<i class="fa fa-ban"></i>
					Cancel
				</button>
				<button type="button" class="btn btn-danger" ng-click="onDeleteTranslation(form)">
					<i class="fa fa-trash"></i>
					Delete
				</button>
			</div>
		</div>
	</div>
</div>