<!DOCTYPE html>
<html ng-app="overviewApp">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Overview</title>

	<!-- Angular JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<!-- FontAwesome -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/firebaseui/2.3.0/firebaseui.js"></script>

	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	<!-- Popper -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.4/umd/popper.min.js"></script>

	<!-- Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

	<!-- Select2 -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

	<!-- Local styles -->
	<link href="styles/style.css" rel="stylesheet">
	<link href="styles/overview.css" rel="stylesheet">

	<!-- Local scripts -->
	<script src="models/locale.js"></script>
	<script src="scripts/scripts.js"></script>
	<script src="scripts/database.js"></script>
	<script src="scripts/overview.js"></script>
	<script src="scripts/firebase.js"></script>
	<script src="scripts/session.js"></script>
</head>

<body ng-controller="overviewCtrl">

	<div id="overview-content" class="overview-content">

		<ul class="nav nav-tabs">
			<li class="active">
				Overview
			</li>
			<li onclick="window.location.href='/translations'">
				Translations
			</li>
		</ul>

		<table class="table table-sm table-striped">
			<thead class="thead-default">
				<tr>
					<th style="padding-left:1em">Language</th>
					<th>Translated</th>
					<th>Validated</th>
					<th><i class="fa fa-cogs locale-table-header-icon locale-table-header-icon-settings"></i></th>
					<th><i class="fa fa-trash locale-table-header-icon locale-table-header-icon-delete"></i></th>
					<th><i class="fa fa-android locale-table-header-icon locale-table-header-icon-android"></i></th>
					<th><i class="fa fa-apple locale-table-header-icon locale-table-header-icon-ios"></i></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="locale in locales">
					<td class="align-middle" style="padding-left:1em">{{locale.fullName}}</td>
					<td class="align-middle">
						<div class="progress progress-bar-indicator">
							<div class="progress-bar progress-bar-indicator-text" ng-class="localeProgressColor(locale.translated)" ng-style="localeProgressValue(locale.translated)">{{locale.translated}}%</div>
						</div>
					</td>
					<td class="align-middle">
						<div class="progress progress-bar-indicator">
							<div class="progress-bar progress-bar-indicator-text" ng-class="localeProgressColor(locale.validated)" ng-style="localeProgressValue(locale.validated)">{{locale.validated}}%</div>
						</div>
					</td>
					<td>
						<button type="button" class="btn btn-outline-light button-action" ng-click="openEditLanguageDialog(locale)">
							<i class="fa button-action-icon fa-pencil"></i>
						</button>
					</td>
					<td>
						<button type="button" class="btn btn-outline-light button-action" ng-click="openDeleteLanguageDialog(locale)">
							<i class="fa button-action-icon fa-times"></i>
						</button>
					</td>
					<td>
						<button type="button" class="btn btn-outline-light button-action" ng-click="exportAndroid(locale)">
							<i class="fa button-action-icon fa-arrow-down"></i>
						</button>
					</td>
					<td>
						<button type="button" class="btn btn-outline-light button-action" ng-click="exportIOS(locale)">
							<i class="fa button-action-icon fa-arrow-down"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>

		<button type="button" class="btn btn-success add-language-button" ng-click="openAddLanguageDialog()">
			<i class="fa fa-plus"></i>
			Add Language
		</button>

		<button type="button" class="btn btn-danger logout-button" data-toggle="modal" data-target="#logout-dialog">
			<i class="fa fa-sign-out"></i>
			Logout
		</button>

		<div class="token-container">
			<b>API Token:</b>
			<span class="alert token-field">
				2661e040-e825-40d5-ba61-d73f2d111b10
			</span>
		</div>

		<div id="logout-dialog" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						Do you want to logout?
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal" onclick="firebaseLogout()">Logout</button>
					</div>
				</div>
			</div>
		</div>

		<div id="add-language-dialog" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Language</h5>
					</div>
					<div class="modal-body">
						<input type="hidden" id="add-language-dialog-locale" value="">
						<select id="add-language-select" class="js-example-placeholder-single" style="width:100%" onchange="enableAddLanguageButtonOk(true)">
							<option value=""></option>
						</select>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
						<button id="add-language-button-ok" type="button" class="btn btn-success" disabled="true" data-dismiss="modal" ng-click="onAddLanguage()">Add</button>
					</div>
				</div>
			</div>
		</div>

		<div id="delete-language-dialog" class="modal fade">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						Do you want to delete <b id="delete-language-dialog-name"></b>?
						<input type="hidden" id="delete-language-dialog-locale" value="">
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="onDeleteLanguage()">Delete</button>
					</div>
				</div>
			</div>
		</div>

	</div>

	<center id="loading-progress" class="progress loading-progress">
		<div class="progress-bar progress-bar-striped indeterminate">
	</center>

	<script type="text/javascript">
		$(document).ready(function()
		{
			var data = []

			for (var locale in LOCALES)
			{
				data.push({
					id: locale,
					text: LOCALES[locale]
				})
			}

			$(".js-example-placeholder-single").select2({
				placeholder: "Language",
				data: data
			})
		})
	</script>

</body>

</html>