<!DOCTYPE html>
<html ng-app="translationsApp">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Overview</title>

	<!-- Angular JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<!-- FontAwesome -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>

	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	<!-- Popper -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.4/umd/popper.min.js"></script>

	<!-- Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

	<!-- Select2 -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

	<!-- Local styles -->
	<link href="styles/style.css" rel="stylesheet">
	<link href="styles/overview.css" rel="stylesheet">

	<!-- Local scripts -->
	<script src="models/locale.js"></script>
	<script src="models/translation.js"></script>
	<script src="scripts/scripts.js"></script>
	<script src="scripts/database.js"></script>
	<script src="scripts/overview.js"></script>
	<script src="scripts/overview/dialog-delete-language.js"></script>
	<script src="scripts/overview/dialog-language.js"></script>
	<script src="scripts/overview/dialog-logout.js"></script>
	<script src="scripts/overview/dialog-profile.js"></script>
	<script src="scripts/firebase.js"></script>
</head>

<body ng-controller="overviewCtrl">

	<div id="overview-content" class="view-gone">

		<ul class="nav navigation-bar-top">
			<li class="active">
				Overview
			</li>
			<li onclick="window.location.href='/translations'">
				Translations
			</li>
		</ul>

		<table class="table table-sm table-striped">
			<thead class="thead-default">
				<tr>
					<th style="padding-left:1em">Language</th>
					<th>Translated</th>
					<th>Validated</th>
					<th><i class="fa fa-cogs locale-table-header-icon locale-table-header-icon-settings"></i></th>
					<th><i class="fa fa-trash locale-table-header-icon locale-table-header-icon-delete"></i></th>
					<th><i class="fa fa-android locale-table-header-icon locale-table-header-icon-android"></i></th>
					<th><i class="fa fa-apple locale-table-header-icon locale-table-header-icon-ios"></i></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="locale in locales">
					<td class="align-middle" style="padding-left:1em">{{locale.fullName}}</td>
					<td class="align-middle">
						<div class="progress progress-bar-indicator">
							<div class="progress-bar" ng-class="localeProgressColor(locale.translated)" ng-style="localeProgressValue(locale.translated)">
								<span ng-show="locale.translated > 0">
									{{locale.translated}}%
								</span>
							</div>
						</div>
					</td>
					<td class="align-middle">
						<div class="progress progress-bar-indicator">
							<div class="progress-bar" ng-class="localeProgressColor(locale.validated)" ng-style="localeProgressValue(locale.validated)">
								<span ng-show="locale.validated > 0">
									{{locale.validated}}%
								</span>
							</div>
						</div>
					</td>
					<td>
						<button type="button" class="btn btn-outline-light button-action" ng-click="openEditLanguageDialog(locale)">
							<i class="fa button-action-icon fa-pencil"></i>
						</button>
					</td>
					<td>
						<button type="button" class="btn btn-outline-light button-action" ng-click="openDeleteLanguageDialog(locale)">
							<i class="fa button-action-icon fa-times"></i>
						</button>
					</td>
					<td>
						<button type="button" class="btn btn-outline-light button-action" ng-click="exportAndroid(locale)">
							<i class="fa button-action-icon fa-arrow-down"></i>
						</button>
					</td>
					<td>
						<button type="button" class="btn btn-outline-light button-action" ng-click="exportIOS(locale)">
							<i class="fa button-action-icon fa-arrow-down"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>

		<button type="button" class="btn btn-success add-language-button" ng-click="openAddLanguageDialog()">
			<i class="fa fa-plus"></i>
			Add Language
		</button>

		<button type="button" class="btn btn-primary logout-profile" ng-click="openProfileDialog()">
			<i class="fa fa-user"></i>
			Profile
		</button>

		<div id="profile-dialog" class="modal fade" ng-controller="overviewDialogProfileCtrl">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Profile</h5>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>New Password</label>
							<input class="form-control" type="password" ng-model="dialog.password">
						</div>
						<div class="form-group">
							<label>Confirm new Password</label>
							<input class="form-control" type="password" ng-model="dialog.passwordConfirmation">
						</div>
						<hr class="separator"/>
						<div class="form-group">
							<label>API Token</label>
							<input class="form-control" type="text" readonly ng-model="apiToken">
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger mr-auto" ng-click="openLogoutDialog()">
							<i class="fa fa-sign-out"></i>
							Logout
						</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">
							<i class="fa fa-ban"></i>
							Cancel
						</button>
						<button type="button" class="btn btn-success" ng-disabled="(dialog.password != dialog.passwordConfirmation) || (dialog.password == '')" ng-click="onUpdatePassword(dialog.password)">
							<i class="fa fa-check"></i>
							Save
						</button>
					</div>
				</div>
			</div>
		</div>

		<div id="logout-dialog" class="modal fade" ng-controller="overviewDialogLogoutCtrl">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						Do you want to logout?
					</div>
					<div class="modal-footer no-modal-separator">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">
							<i class="fa fa-ban"></i>
							Cancel
						</button>
						<button type="button" class="btn btn-danger" ng-click="onLogout()">
							<i class="fa fa-sign-out"></i>
							Logout
						</button>
					</div>
				</div>
			</div>
		</div>

		<div id="language-dialog" class="modal fade" ng-controller="overviewDialogLanguageCtrl">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header no-modal-separator">
						<h5 class="modal-title">Language</h5>
					</div>
					<div class="modal-body">
						<input type="hidden" ng-model="dialog.id">
						<select id="language-dialog-select" data-placeholder="Select a language" class="js-example-placeholder-single" style="width:100%" onchange="onLanguageSelected()">
							<option value=""></option>
						</select>
					</div>
					<div class="modal-footer no-modal-separator">
						<button type="button" class="btn btn-danger" data-dismiss="modal">
							<i class="fa fa-ban"></i>
							Cancel
						</button>
						<button type="button" ng-show="!dialog.id" class="btn btn-success" ng-disabled="dialog.buttonDisabled" ng-click="onAddLanguage(dialog)">
							<i class="fa fa-plus"></i>
							Add
						</button>
						<button type="button" ng-show="dialog.id" class="btn btn-success" ng-disabled="dialog.buttonDisabled" ng-click="onEditLanguage(dialog)">
							<i class="fa fa-check"></i>
							Edit
						</button>
					</div>
				</div>
			</div>
		</div>

		<div id="delete-language-dialog" class="modal fade" ng-controller="overviewDialogDeleteLanguageCtrl">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						Do you want to delete <b ng-bind="dialog.name"></b>?
						<input type="hidden" ng-model="dialog.id" value="">
					</div>
					<div class="modal-footer no-modal-separator">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">
							<i class="fa fa-ban"></i>
							Cancel
						</button>
						<button type="button" class="btn btn-danger" ng-click="onDelete(dialog.id)">
							<i class="fa fa-trash"></i>
							Delete
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="error-message-container" id="error-message" style="visibility:hidden">
			<span class="alert alert-danger"></span>
		</div>

	</div>

	<center id="loading-progress" class="progress loading-progress">
		<div class="progress-bar progress-bar-striped indeterminate">
	</center>

	<script type="text/javascript">
		$(document).ready(function()
		{
			var data = []

			for (const locale in LOCALES)
			{
				data.push({
					id: locale,
					text: LOCALES[locale]
				})
			}

			$(".js-example-placeholder-single").select2({
				placeholder: "Language",
				data: data
			})
		})
	</script>

</body>

</html>