<!DOCTYPE html>
<html ng-app="segmentsApp">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Overview</title>

	<!-- Angular JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<!-- FontAwesome -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>

	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	<!-- Popper -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.4/umd/popper.min.js"></script>

	<!-- Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

	<!-- Select2 -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

	<!-- Local styles -->
	<link href="styles/style.css" rel="stylesheet">
	<link href="styles/overview.css" rel="stylesheet">

	<!-- Local scripts -->
	<script src="js/models/language.js"></script>
	<script src="js/models/segment.js"></script>
	<script src="js/models/translation.js"></script>
	<script src="js/models/history.js"></script>
	<script src="js/models/comment.js"></script>

	<script src="js/common/constants.js"></script>
	<script src="js/common/base.js"></script>
	<script src="js/common/dialog-error-message.js"></script>
	<script src="js/common/ui.js"></script>

	<script src="js/common/database.js"></script>
	<script src="js/database/database-token.js"></script>

	<script src="js/overview/overview.js"></script>
	<script src="js/overview/dialog-delete-language.js"></script>
	<script src="js/overview/dialog-language.js"></script>
	<script src="js/overview/dialog-logout.js"></script>
	<script src="js/overview/dialog-profile.js"></script>

</head>

<body ng-controller="overview">

	<div ng-show="!loading">

		<ul class="nav navigation-bar-top">
			<li class="active">
				Overview
			</li>
			<li onclick="window.location.href='/segments'">
				Segments
			</li>
		</ul>

		<table class="table table-sm table-striped">
			<thead class="thead-default">
				<tr>
					<th style="padding-left:1em">Language</th>
					<th>Translated</th>
					<th>Validated</th>
					<th><i class="fa fa-cogs language-table-header-icon language-table-header-icon-settings"></i></th>
					<th><i class="fa fa-trash language-table-header-icon language-table-header-icon-delete"></i></th>
					<th><i class="fa fa-android language-table-header-icon language-table-header-icon-android"></i></th>
					<th><i class="fa fa-apple language-table-header-icon language-table-header-icon-ios"></i></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="language in languages">
					<td class="align-middle" style="padding-left:1em">{{language.fullName}}</td>
					<td class="align-middle">
						<div class="progress progress-bar-indicator">
							<div class="progress-bar" ng-class="languageProgressColor(language.translated)" ng-style="languageProgressValue(language.translated)">
								<span ng-show="language.translated > 0">
									{{language.translated}}%
								</span>
							</div>
						</div>
					</td>
					<td class="align-middle">
						<div class="progress progress-bar-indicator">
							<div class="progress-bar" ng-class="languageProgressColor(language.validated)" ng-style="languageProgressValue(language.validated)">
								<span ng-show="language.validated > 0">
									{{language.validated}}%
								</span>
							</div>
						</div>
					</td>
					<td>
						<button type="button" class="btn btn-outline-light button-action" ng-click="openEditLanguageDialog(language)">
							<i class="fa button-action-icon fa-pencil"></i>
						</button>
					</td>
					<td>
						<button type="button" class="btn btn-outline-light button-action" ng-click="openDeleteLanguageDialog(language)">
							<i class="fa button-action-icon fa-times"></i>
						</button>
					</td>
					<td>
						<button type="button" class="btn btn-outline-light button-action" ng-click="exportAndroid(language)">
							<i class="fa button-action-icon fa-arrow-down"></i>
						</button>
					</td>
					<td>
						<button type="button" class="btn btn-outline-light button-action" ng-click="exportIOS(language)">
							<i class="fa button-action-icon fa-arrow-down"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>

		<button type="button" class="btn btn-success add-language-button" ng-click="openAddLanguageDialog()">
			<i class="fa fa-plus"></i>
			Add Language
		</button>

		<button type="button" class="btn btn-primary button-profile" ng-click="openProfileDialog()">
			<i class="fa fa-user"></i>
			Profile
		</button>

		<div ng-include="'html/overview/dialog-profile.html'"></div>

		<div ng-include="'html/overview/dialog-logout.html'"></div>

		<div ng-include="'html/overview/dialog-language.html'"></div>

		<div ng-include="'html/overview/dialog-delete-language.html'"></div>

		<div class="error-message-container" ng-show="message != ''" class="hidden" ng-controller="dialogErrorMessage">
			<span class="alert alert-danger">{{message}}</span>
		</div>

	</div>

	<center ng-show="loading" class="progress loading-progress">
		<div class="progress-bar progress-bar-striped indeterminate">
	</center>

	<script type="text/javascript">
		$(document).ready(function()
		{
			const data = []

			for (const locale in LOCALES)
			{
				data.push({
					id: locale,
					text: LOCALES[locale]
				})
			}

			$(".js-example-placeholder-single").select2({
				placeholder: "Language",
				data: data
			})
		})
	</script>

</body>

</html>