<!DOCTYPE html>
<html ng-app="segmentsApp">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Segments</title>

	<!-- Angular JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<!-- FontAwesome -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>

	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	<!-- Popper -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.4/umd/popper.min.js"></script>

	<!-- Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

	<!-- Moment -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

	<!-- MD5 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.10.0/js/md5.min.js"></script>

	<!-- Local styles -->
	<link href="styles/base.css" rel="stylesheet">
	<link href="styles/segments.css" rel="stylesheet">

	<!-- Local scripts -->
	<script src="js/models/language.js"></script>
	<script src="js/models/segment.js"></script>
	<script src="js/models/translation.js"></script>
	<script src="js/models/history.js"></script>
	<script src="js/models/comment.js"></script>

	<script src="js/common/constants.js"></script>
	<script src="js/common/base.js"></script>
	<script src="js/common/dialog-error-message.js"></script>
	<script src="js/common/ui.js"></script>

	<script src="js/database/database.js"></script>
	<script src="js/database/database-language.js"></script>
	<script src="js/database/database-segment.js"></script>
	<script src="js/database/database-token.js"></script>
	<script src="js/database/database-translation.js"></script>

	<script src="js/segments/segments.js"></script>
	<script src="js/segments/dialog-delete-segment.js"></script>
	<script src="js/segments/dialog-segment.js"></script>
	<script src="js/segments/dialog-translation-comments.js"></script>
	<script src="js/segments/dialog-translation-history.js"></script>

</head>

<body ng-controller="segments">

	<div ng-show="!loading">

		<ul class="nav navigation-bar-top">
			<li onclick="window.location.href='/overview'">
				Overview
			</li>
			<li class="active">
				Segments
			</li>
		</ul>

		<button type="button" class="btn btn-success button-circle" ng-click="openAddSegmentDialog()">
			<i class="fa fa-plus"></i>
		</button>

		<div class="card filter-card">
			<div class="card-header filter-header" data-toggle="collapse" href="#collapse-filter">
				<i class="fa fa-filter"></i> Filter
			</div>
			<div id="collapse-filter" class="collapse">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="input-group">
							<label class="col-form-label filter-label">By content:</label>
							<input type="text" id="filter-content-input" class="form-control" placeholder="Keywords" ng-model="filter.content">
						</div>
					</li>
					<li class="list-group-item align-items-center">
						<label class="col-form-label filter-label">By language:</label>
						<span ng-repeat="language in languages">
							<label class="custom-control custom-checkbox filter-checkbox">
								<input type="checkbox" checked="true" ng-model="filter.language[language.id]" class="custom-control-input">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description noselect">{{language.fullName}}</span>
							</label>
						</span>
					</li>
					<li class="list-group-item align-items-center">
						<label class="col-form-label filter-label">By state:</label>
						<label class="custom-control custom-checkbox filter-checkbox">
							<input type="checkbox" checked="true" class="custom-control-input" ng-model="filter.state.translated">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description noselect">Show translated</span>
						</label>

						<label class="custom-control custom-checkbox filter-checkbox">
							<input type="checkbox" checked="true" class="custom-control-input" ng-model="filter.state.notTranslated">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description noselect">Show not translated</span>
						</label>

						<label class="custom-control custom-checkbox filter-checkbox">
							<input type="checkbox" checked="true" class="custom-control-input" ng-model="filter.state.validated">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description noselect">Show validated</span>
						</label>

						<label class="custom-control custom-checkbox filter-checkbox">
							<input type="checkbox" checked="true" class="custom-control-input" ng-model="filter.state.notValidated">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description noselect">Show not validated</span>
						</label>
					</li>
				</ul>
			</div>
		</div>

		<table class="table table-sm table-hover table-striped">
			<thead class="thead-default">
				<tr>
					<th style="padding-left:10px;width:20em">Key</th>
					<th ng-repeat="language in languages" ng-show="filter.language[language.id]" style="padding-left:10px">
						{{language.fullName}}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="segment in segments" ng-show="displayByState(segment)">
					<td>
						<div class="input-group">
							<div class="input-group-addon segments-settings-icon" ng-click="openEditSegmentDialog(segment)">
								<i class="fa fa-cog"></i>
							</div>
							<input class="form-control" type="text" alt="{{::segment.key}}" ng-model="segment.key" ng-blur="onSegmentKeyUpdated(segment, $event)">
						</div>
					</td>
					<td ng-repeat="language in languages" ng-show="filter.language[language.id]">
						<div class="input-group">
							<textarea class="form-control segment-input" type="text" ng-model="segment.translations[language.id].value" ng-blur="onTranslationValueUpdated(segment, language)" rows="1"></textarea>
							<div class="input-group-addon segment-checkbox" ng-class="segmentValidatedState(segment.translations[language.id].validated)" ng-click="onSegmentValidatedChanged(segment, language)">
								<i class="fa fa-check"></i>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div ng-include="'html/segments/dialog-segment.html'"></div>

		<div ng-include="'html/segments/dialog-translation-comments.html'"></div>

		<div ng-include="'html/segments/dialog-translation-history.html'"></div>

		<div ng-include="'html/segments/dialog-delete-segment.html'"></div>

		<div class="error-message-container" ng-show="message != ''" class="hidden" ng-controller="dialogErrorMessage">
			<span class="alert alert-danger">{{message}}</span>
		</div>

	</div>

	<center ng-show="loading" class="progress loading-progress">
		<div class="progress-bar progress-bar-striped indeterminate">
	</center>

</body>

</html>