<!DOCTYPE html>
<html ng-app="translationsApp">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Translations</title>

	<!-- Angular JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.6/angular.min.js"></script>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

	<!-- FontAwesome -->
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>

	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

	<!-- Popper -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.4/umd/popper.min.js"></script>

	<!-- Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

	<!-- Moment -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

	<!-- MD5 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/blueimp-md5/2.10.0/js/md5.min.js"></script>

	<!-- Local styles -->
	<link href="styles/style.css" rel="stylesheet">
	<link href="styles/translations.css" rel="stylesheet">

	<!-- Local scripts -->
	<script src="js/models/locale.js"></script>
	<script src="js/models/translation.js"></script>
	<script src="js/common/scripts.js"></script>
	<script src="js/common/database.js"></script>
	<script src="js/translations/translations.js"></script>
	<script src="js/translations/dialog-delete-translation.js"></script>
	<script src="js/translations/dialog-translation-comments.js"></script>
	<script src="js/translations/dialog-translation-history.js"></script>
	<script src="js/translations/dialog-translation.js"></script>
	<script src="js/common/firebase.js"></script>
</head>

<body id ="translations-controller" ng-controller="translationsCtrl">

	<div id="overview-content" class="view-gone">

		<ul class="nav navigation-bar-top">
			<li onclick="window.location.href='/overview'">
				Overview
			</li>
			<li class="active">
				Translations
			</li>
		</ul>

		<button type="button" class="btn btn-success button-circle" ng-click="openAddTranslationDialog()">
			<i class="fa fa-plus"></i>
		</button>

		<div class="card filter-card">
			<div class="card-header filter-header" data-toggle="collapse" href="#collapseFilter">
				<i class="fa fa-filter"></i> Filter
			</div>
			<div id="collapseFilter" class="collapse">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						<div class="input-group">
							<label class="col-form-label filter-label">By content:</label>
							<input type="text" id="filter-content-input" class="form-control" placeholder="Keywords" ng-model="filter.content">
						</div>
					</li>
					<li class="list-group-item align-items-center">
						<label class="col-form-label filter-label">By language:</label>
						<span ng-repeat="locale in locales">
							<label class="custom-control custom-checkbox filter-checkbox">
								<input type="checkbox" checked="true" ng-model="filter.locale[locale.id]" class="custom-control-input">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description noselect">{{locale.fullName}}</span>
							</label>
						</span>
					</li>
					<li class="list-group-item align-items-center">
						<label class="col-form-label filter-label">By state:</label>
						<label class="custom-control custom-checkbox filter-checkbox">
							<input type="checkbox" checked="true" class="custom-control-input" ng-model="filter.state.translated">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description noselect">Show translated</span>
						</label>

						<label class="custom-control custom-checkbox filter-checkbox">
							<input type="checkbox" checked="true" class="custom-control-input" ng-model="filter.state.notTranslated">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description noselect">Show not translated</span>
						</label>

						<label class="custom-control custom-checkbox filter-checkbox">
							<input type="checkbox" checked="true" class="custom-control-input" ng-model="filter.state.validated">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description noselect">Show validated</span>
						</label>

						<label class="custom-control custom-checkbox filter-checkbox">
							<input type="checkbox" checked="true" class="custom-control-input" ng-model="filter.state.notValidated">
							<span class="custom-control-indicator"></span>
							<span class="custom-control-description noselect">Show not validated</span>
						</label>
					</li>
				</ul>
			</div>
		</div>

		<table class="table table-sm table-hover table-striped">
			<thead class="thead-default">
				<tr>
					<th style="padding-left:10px;width:20em">Key</th>
					<th ng-repeat="locale in locales" ng-show="filter.locale[locale.id]" style="padding-left:10px">
						{{locale.fullName}}
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="translation in translations" ng-show="displayByState(translation)">
					<td>
						<div class="input-group">
							<div class="input-group-addon translations-settings-icon" ng-click="openEditTranslationDialog(translation)">
								<i class="fa fa-cog"></i>
							</div>
							<input class="form-control" type="text" ng-model="translation.key" ng-blur="onTranslationKeyUpdated(translation)">
						</div>
					</td>
					<td ng-repeat="locale in locales" ng-show="filter.locale[locale.id]">
						<div class="input-group">
							<textarea class="form-control translation-input" type="text" ng-model="translation.locales[locale.id].value" ng-blur="onTranslationValueUpdated(translation, locale)" rows="1"></textarea>
							<div class="input-group-addon translation-checkbox" ng-class="translationValidatedState(translation.locales[locale.id].validated)" ng-click="onTranslationValidatedChanged(translation, locale)">
								<i class="fa fa-check"></i>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>

		<div ng-include="'html/translations/dialog-translation.html'"></div>

		<div ng-include="'html/translations/dialog-translation-comments.html'"></div>

		<div ng-include="'html/translations/dialog-translation-history.html'"></div>

		<div ng-include="'html/translations/dialog-delete-translation.html'"></div>

		<div class="error-message-container" id="error-message" style="visibility:hidden">
			<span class="alert alert-danger"></span>
		</div>

	</div>

	<center id="loading-progress" class="progress loading-progress">
		<div class="progress-bar progress-bar-striped indeterminate">
	</center>

</body>

</html>