<div class="modal fade" ng-controller="dialogSegment">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Segment</h5>
				<button type="button" class="close cursor-hand" data-dismiss="modal">
					<span>&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<ul class="nav nav-tabs" id="dialog-segment-tabs">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#dialog-segment-tab-segments">Translations</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#dialog-segment-tab-properties">Properties</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade show active" style="padding-left:0;padding-right:0" id="dialog-segment-tab-segments">
						<div class="form-group">
							<label>Key:</label>
							<input type="hidden" ng-model="form.id">
							<input class="form-control" id="dialog-segment-key" type="text" ng-model="form.key">
						</div>
						<div class="form-group" ng-repeat="language in languages">
							<label>{{language.fullName}}</label>
							<div style="display:flex">
								<div class="input-group">
									<textarea class="form-control" maxlength="{{form.maxLength}}" ng-model="form.translations[language.id].value" rows="1"></textarea>
									<div class="input-group-addon segment-checkbox" ng-class="(form.translations[language.id].validated) ? 'segment-checkbox-on' : 'segment-checkbox-off'" ng-click="form.translations[language.id].validated = !form.translations[language.id].validated">
										<i class="fa fa-check"></i>
									</div>
								</div>
								<button type="button" ng-show="form.id" ng-disabled="historyEmpty(form.translations[language.id].history)" class="btn btn-link button-action" ng-click="openSegmentHistory(form.translations[language.id].history)">
									<i class="fa fa-history"></i>
								</button>
								<button type="button" ng-show="form.id" class="btn btn-link button-action" ng-click="openSegmentComments(language.id, form.translations[language.id].comments)">
									<i class="fa fa-comment"></i>
								</button>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" style="padding-left:0;padding-right:0" id="dialog-segment-tab-properties">
						<div class="form-group">
							<label>Description:</label>
							<textarea class="form-control" rows="1" ng-model="form.description"></textarea>
						</div>
						<div class="form-group">
							<label>Tags</label>
							<input class="form-control" type="text" ng-model="form.newTag" ng-keypress="($event.keyCode === 13) && addTag(form.newTag)" >
							<div>
								<span class="badge segment-tag" ng-repeat="tag in form.tags">
									{{tag}}
									<span class="segment-tag-cross" ng-click="removeTag(tag)">&times;</span>
								</span>
							</div>
						</div>
						<div class="form-group">
							<label>Max. length</label>
							<input class="form-control" type="number" min="0" ng-model="form.maxLength">
						</div>
						<div class="form-group">
							<label>Screenshot link</label>
							<div style="display:flex">
								<input class="form-control" type="text" ng-model="form.screenshot">
								<button type="button" ng-show="form.screenshot" class="btn btn-link button-action" ng-click="openScreenshot(form.screenshot)">
									<i class="fa fa-external-link"></i>
								</button>
							</div>
						</div>
						<div class="form-group">
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" ng-model="form.isPlural">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description noselect">Is plural</span>
							</label>
							<label class="custom-control custom-checkbox">
								<input type="checkbox" class="custom-control-input" ng-model="form.isArray">
								<span class="custom-control-indicator"></span>
								<span class="custom-control-description noselect">Is array</span>
							</label>
						</div>
						<div class="form-group" ng-show="form.id">
							<button type="button" class="btn btn-danger" ng-click="openDeleteSegmentDialog(form)">
								<i class="fa fa-trash"></i>
								Delete
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal">
					<i class="fa fa-ban"></i>
					Cancel
				</button>
				<button type="button" ng-show="!form.id" class="btn btn-success" ng-disabled="!form.key" ng-click="onAddSegment(form)">
					<i class="fa fa-plus"></i>
					Add
				</button>
				<button type="button" ng-show="form.id" class="btn btn-success" ng-disabled="!form.key" ng-click="onEditSegment(form)">
					<i class="fa fa-check"></i>
					Edit
				</button>
			</div>
		</div>
	</div>
</div>