.button-action
{
	cursor: pointer;
	width: 2.3em;
	border: 0px solid transparent;
}

.button-action-icon
{
	color: #888888;
	font-size: 1em;
}

.token-field
{
	margin-left: 10px;
	padding-top: 6px;
	padding-bottom: 4px;
	padding-left: 7px;
	padding-right: 7px;
	font-family: Courier;
}

.progress-bar.indeterminate
{
	position: relative;
	animation: progress-indeterminate 1s linear infinite;
}
  
@keyframes progress-indeterminate
{
	from { left: -25%; width: 25%; }
	to { left: 100%; width: 25%;}
}

.logout-button
{
	float: right;
	margin-right: 10px;
	background: #FD2E2E;
}