.locale-table-header-text
{
	padding-bottom: 0.35em;
}

.locale-table-header-icon
{
	margin-left: 0.4em;
}

.locale-table-header-icon-settings
{
	color: #276FE4;
	font-size: 1.3em;
}

.locale-table-header-icon-delete
{
	color: #E64747;
	font-size: 1.4em;
}

.locale-table-header-icon-android
{
	color: #A5CA3A;
	font-size: 1.6em;
}

.locale-table-header-icon-ios
{
	color: #333333;
	font-size: 1.5em;
}

.button-action
{
	cursor: pointer;
	width: 2.3em;
	border: 0 solid transparent;
}

.button-action-icon
{
	color: #888888;
	font-size: 1em;
}

.add-language-button
{
	margin-left: 1em;
}

.token-container
{
	margin-left: 1em;
	margin-top: 2em;
}

.token-field
{
	margin-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.3em;
	padding-left: 0.7em;
	padding-right: 0.7em;
	font-family: 'Courier';
}

.logout-button
{
	float: right;
	margin-right: 1em;
	background: #FD2E2E;
}