.filter-header
{
	cursor: pointer;
}

.filter-checkbox
{
	cursor: pointer;
	margin-right: 2em;
	margin-top: 0;
	margin-bottom: 0;
}

.filter-label
{
	padding-right: 1em;
}

.filter-card
{
	border-top: 1px solid F0F0F0;
	border-bottom: 0 solid transparent;
}

.segment-action-icon:hover
{
	background-color: #E2E6E9;
}

.segment-action-icon:active
{
	background-color: #DCE0E3;
}

.segment-action-icon
{
	cursor: pointer;
	padding: 0 0.2em 0 0.6em;
}

.segment-checkbox
{
	cursor: pointer;
	padding: 0 0 0 0.6em;
}

.segment-checkbox-on:hover
{
	color: #F0F0F0;
	background-color: #90D875;
}

.segment-checkbox-on
{
	color: #F0F0F0;
	background-color: #7DC263;
}

.segment-checkbox-off
{
	color: #C0C0C0;
	background-color: #E0E0E0;
}

.segment-checkbox-off:hover
{
	color: #EFEFEF;
	background-color: #D0D0D0;
}

.segment-tag
{
	padding: 5px;
	font-size: 1em;
	background-color: #5F9B48;
	margin-right: 5px;
	margin-top: 5px;
}

.segment-tag-cross
{
	cursor: pointer;
	margin-left: 5px;
}

.button-circle
{
	width: 4em;
	height: 4em;
	padding: 0px 1.3em;
	border-radius: 10em;
	position: fixed;
	z-index: 999;
	bottom: 1em;
	right: 1em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tab-pane
{
	padding: 1em;
}