html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

*
{
	font-family: 'Open Sans', sans-serif;
}

.custom-icon
{
	color: grey;
}

.mdc-textfield__input
{
	padding-left:   3px;
	padding-top:    8px;
	padding-bottom: 8px;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
	background-color:white;
 }

 .table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
	background-color: #F3F3F3;
 }

 :root {
    --mdc-theme-primary: #2268d8;
    --mdc-theme-primary-light: #276FE4;
    --mdc-theme-primary-dark: #144da8;
    --mdc-theme-secondary: #2268d8;
    --mdc-theme-secondary-light: #2268d8;
	--mdc-theme-secondary-dark: #144da8;
}

.action-button {
    letter-spacing: 0;
    line-height: 0;
	min-width: 0;
	height: 30px;
	padding: 0px 5px 0px 5px;
}

.logout-button {
	float:right;
	margin-right:10px;
	background:#FD2E2E;
    letter-spacing: 0;
    line-height: 0;
	min-width: 0;
	height: 30px;
	padding: 5px 10px 5px 10px;
}