html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
	background-color: #FAFAFA;
}

*
{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

.fa
{
	padding-right: 0.5em;
}

.form-control
{
	font-size: 1.02em;
}

.btn:hover
{
	cursor: pointer;
}

.btn-danger
{
	background: #EA5854;
	border-color: #E3534F;
}

.btn-success
{
	background: #5F9B48;
	border-color: #71A55D;
}

.overview-content
{
	display: none;
}

.loading-progress
{
	position: absolute;
	top: 40%;
	left: 40%;
	width: 20%;
}

/* Loading progress bar */

.progress-bar.indeterminate
{
	position: relative;
	animation: progress-indeterminate 1s linear infinite;
}
  
@keyframes progress-indeterminate
{
	from { left: -25%; width: 25%; }
	to { left: 100%; width: 25%;}
}

/* Navigation tabs */
.nav-tabs
{
	justify-content: center;
	border: none;
	background-color: #EAEAEA;
}

.nav-tabs > li
{
	cursor: pointer;
	padding: 0.5em 1em 0.5em 1em;
}

.nav-tabs > li:hover
{
	border-bottom: 0.2em solid #555555;
	color: #555555;
}

.nav-tabs > li.active
{
	border-bottom: 0.2em solid #444444;
	color: #444444;
}

/* Modal */

.modal-header
{
	border: 0 solid transparent;
}

.modal-footer
{
	border: 0 solid transparent;
}

/* Table */

.thead-default th {
    color: #444444;
	background-color: #F2F5F7;
	height: 2.7em;
}

.table thead th
{
	vertical-align: middle;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
}

.table td
{
	border-bottom: 1px solid #E9ECEF;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th
{
	background-color:white;
}

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th
{
	background-color: #F9F9F9;
}

/* General */

.noselect
{
    -webkit-user-select: none; /* Safari, iOS, and Android */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}