html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
}

*
{
	font-family: 'Open Sans', sans-serif;
}

.fa
{
	padding-right: 0.5em;
}

.btn:hover
{
	cursor: pointer;
}

.loading-progress
{
	position: absolute;
	top: 40%;
	left: 40%;
	width: 20%;
}

.modal-header
{
	border-top: 0 solid transparent;
}

.modal-footer
{
	border-top: 0 solid transparent;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
	background-color:white;
 }

.table-striped > tbody > tr:nth-child(2n) > td, .table-striped > tbody > tr:nth-child(2n) > th {
	background-color: #F3F3F3;
}

:root {
    --mdc-theme-primary: #2268d8;
    --mdc-theme-primary-light: #276FE4;
    --mdc-theme-primary-dark: #144da8;
    --mdc-theme-secondary: #2268d8;
    --mdc-theme-secondary-light: #2268d8;
	--mdc-theme-secondary-dark: #144da8;
}