.filter-checkbox
{
	cursor: pointer;
	margin-right: 2em;
	margin-top: 0;
	margin-bottom: 0;
}

.filter-header
{
	cursor: pointer;
}

.filter-label
{
	padding-right: 1em;
}

.translation-checkbox-header
{
	padding-left: 0.6em;
}

.translation-checkbox-container
{
	text-align: center;
	width: 1em;
}

.translation-checkbox
{
	cursor: pointer;
	margin: 0em 0em 0em 0.4em;
}