.filter-checkbox
{
	cursor: pointer;
	margin-left: 1em;
}

.translation-checkbox-header
{
	padding-left: 0.6em;
}

.translation-checkbox-container
{
	text-align: center;
	width: 1em;
}

.translation-checkbox
{
	cursor: pointer;
	margin: 0em 0em 0em 0.4em;
}