.filter-header
{
	cursor: pointer;
}

.filter-checkbox
{
	cursor: pointer;
	margin-right: 2em;
	margin-top: 0;
	margin-bottom: 0;
}

.filter-label
{
	padding-right: 1em;
}

.card
{
	border-top: 1px solid F0F0F0;
	border-bottom: 0 solid transparent;
}

.translation-checkbox
{
	cursor: pointer;
	padding: 0 0 0 0.6em;
}

.translation-checkbox-on
{
	color: #F0F0F0;
	background-color: #6CAC54;
}

.translation-checkbox-off
{
	color: #C0C0C0;
	background-color: #E0E0E0;
}

.button-circle
{
	width: 3em;
	height: 3em;
	padding: 0px 1em;
	border-radius: 10em;
	position: fixed;
	z-index: 999;
	bottom: 1em;
	right: 1em;
}

.tab-pane
{
	padding: 1em;
}